<h3> Mostrar usuario</h3>
¿Que usuario quieres que te muestre? <input #userId><br>
<button type="button" (click) = "mostrarUsuario(userId.value)">Mostrar</button><br>
<hr>
<div *ngIf="usuario!=null">
<b>Id:</b> {{usuario.id}} <br>   
<b>Nombre:</b>{{usuario.nombre}} <br>
<b>Apellido1:</b>{{usuario.apellido1}} <br>
<b>Apellido2:</b>{{usuario.apellido2}} <br>
</div>
<ul>
    <li *ngFor="let user of apiService.usuarios">
        <b>{{user.id}} - Nombre:</b> {{user.nombre}} - <b>Apellido1:</b> {{user.apellido1}} - <b>Apellido2:</b> {{user.apellido2}}
    </li> 
</ul>

<hr>